html,
body,
h1,
h2,
h3,
h4,
h5 {
  font-family: "Raleway", sans-serif
}

/* The close button */
.closebtn {
  margin-left: 15px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}

/* When moving the mouse over the close button */
.closebtn:hover {
  color: black;
}

.table {
  background: white;
  padding: 20px;
  margin-top: 20px;
  border-radius: 10px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  overflow-x:auto;
}

.table h2 {
  margin-bottom: 15px;
  color: #2c3e50;
  text-align: center;
}

/* Style général du tableau */
table {
  width: 100%;
  border-collapse: collapse;
  overflow: hidden;
  border-radius: 10px;
}

/* En-tête du tableau */
thead {
  background: #3498db;
  color: white;
}

thead tr th {
  padding: 12px;
  text-align: left;
  font-weight: 600;
}

/* Contenu du tableau */
tbody tr {
  background: #f8f9fa;
  transition: background 0.3s ease-in-out;
}

tbody tr:nth-child(even) {
  background: #ecf0f1;
}

tbody tr:hover {
  background: rgba(52, 152, 219, 0.2);
}

/* Cellules */
td {
  padding: 12px;
  border-bottom: 1px solid #ddd;
}

.form-messages {
  display: flex;
  align-items: center;
  max-width: 100%;
  margin-top: 10px;
}

.form-messages input {
  flex: 1;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px 0 0 4px;
  outline: none;
}

.form-messages button {
  padding: 8px 12px;
  background-color: #007BFF;
  color: white;
  border: 1px solid #007BFF;
  border-left: none;
  border-radius: 0 4px 4px 0;
  cursor: pointer;
}

.form-messages button:hover {
  background-color: #0056b3;
}