/* The Modal (background) */
.modal {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 10;
  /* Sit on top */
  padding-top: 100px;
  /* Location of the box */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: rgb(0, 0, 0);
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 50%;
}

/* The Close Button */
.close,
.closeAdd {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #ff0000;
  text-decoration: none;
  cursor: pointer;
}

.closeAdd:hover,
.closeAdd:focus {
  color: #ff0000;
  text-decoration: none;
  cursor: pointer;
}

/* Delete */
/* Button styles */
.delete {
  margin-top: 100px;
}

.cancelbtn,
.deletebtn {
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 50%;
  /* Adjust width for two buttons side by side */
  float: left;
  text-align: center;
}

.cancelbtn {
  background-color: #ccc;
  color: black;
}

.deletebtn {
  background-color: #f44336;
  color: white;
}

.cancelbtn:hover,
.deletebtn:hover {
  opacity: 0.8;
}

/* Clear floats after the buttons */
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

/* Heading style */
.deleteHeader {
  color: #333;
}

/* Paragraph style */
.deleteContaine {
  color: #666;
}

/*Form*/
* {
  box-sizing: border-box;
}

/* Style the input container */
.input-container {
  display: flex;
  width: 100%;
  margin-bottom: 15px;
}

/* Style the form icons */
.icon {
  padding: 10px;
  background: dodgerblue;
  color: white;
  min-width: 50px;
  text-align: center;
}

/* Style the input fields */
.input-field {
  width: 100%;
  padding: 10px;
  outline: none;
}

.input-field:focus {
  border: 2px solid dodgerblue;
}

/* Set a style for the submit button */
.btnModal {
  background-color: dodgerblue;
  color: white;
  padding: 15px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

.btnModal:hover {
  opacity: 1;
}

.photo-upload-container {
  text-align: center;
  /* margin: 20px; */
}

/* Label stylisé */
.photo-upload-label,
.photo-upload-label-update {
  display: inline-block;
  cursor: pointer;
  width: 180px;
  height: 180px;
  border: 2px dashed #ccc;
  border-radius: 100px;
  background-color: #f9f9f9;
  background-size: cover;
  /* Permet d'afficher l'image */
  background-position: center;
  color: #666;
  font-size: 14px;
  text-align: center;
  line-height: 200px;
  transition: border-color 0.3s, background-color 0.3s;
}

.photo-upload-label:hover, 
.photo-upload-label-update:hover {
  border-color: #888;
  background-color: #f0f0f0;
}

/* Icône et texte par défaut */
.photo-upload-label span {
  display: inline-block;
  vertical-align: middle;
}

/* Masque l'input natif */
.photo-upload-input,
.photo-upload-input-update {
  display: none;
}

.animate-modal {
  -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
  from {-webkit-transform: scale(0)} 
  to {-webkit-transform: scale(1)}
}

@keyframes animatezoom {
  from {transform: scale(0)} 
  to {transform: scale(1)}
}