
        <!-- Footer -->
        <footer class="w3-container w3-padding-16 w3-light-grey">
            <h4>FOOTER</h4>
            <p>Dévéloppé par <strong>Gédéon GANGOUE</strong></p>
            <p>Copyright &copy; memorium 2025.</p>
        </footer>

        <!-- End page content -->
    </div>

    <script src="assets/js/scriptSidebar.js"></script>
    <script src="assets/js/modalAdd.js"></script>
    <script src="assets/js/modalModif.js"></script>
    <script src="assets/js/modalDelete.js"></script>
    <script src="assets/js/logout.js"></script>
    <script src="assets/js/searchTable.js"></script>
    <script src="assets/js/inputImage.js"></script>

</body>

</html>