<div id="myModal" class="modal">
    <!-- Modal content -->
    <div class="modal-content">
        <span class="closeAdd">&times;</span>
        <form action="/famille.store" method="post">
            <h2>Ajouter une famille</h2>
            <input type="hidden" name="token" value="<%=token %>">
            <div class="input-container">
                <i class="fa fa-font icon"></i>
                <input class="input-field" type="text" placeholder="Nom de la famille" name="nomFamille" required>
            </div>

            <div class="input-container">
                <i class="fa fa-font icon"></i>
                <input class="input-field" type="text" placeholder="Nom du garrant" name="nomGarrant" required>
            </div>

            <div class="input-container">
                <i class="fa fa-font icon"></i>
                <input class="input-field" type="text" placeholder="Prénom du garrant" name="prenomGarrant" required>
            </div>

            <div class="input-container">
                <i class="fa fa-gears icon"></i>
                <input class="input-field" type="text" placeholder="Profession" name="profession" required>
            </div>

            <div class="input-container">
                <i class="icon">#</i>
                <input class="input-field" type="text" placeholder="Téléphone" name="telephone" required>
            </div>

            <div class="input-container">
                <i class="icon">@</i>
                <input class="input-field" type="email" placeholder="Email" name="email" required>
            </div>

            <button type="submit" class="btnModal">Enregistrer <i class="fa fa-save"></i></button>
        </form>
    </div>
</div>