<div id="myModal" class="modal">
    <!-- Modal content -->
    <div class="modal-content">
        <span class="close">&times;</span>
        <form action="/action_page.php">
            <h2>Formuliare d'ajout d'un utilisateur</h2>
            <div class="input-container">
                <i class="fa fa-font icon"></i>
                <input class="input-field" type="text" placeholder="Nom de la famille" name="nomFamille" />
            </div>

            <div class="input-container">
                <i class="fa fa-font icon"></i>
                <input class="input-field" type="text" placeholder="Nom du garrant" name="nomGarrant" />
            </div>

            <div class="input-container">
                <i class="fa fa-font icon"></i>
                <input class="input-field" type="text" placeholder="Prénom du garrant" name="prenomGrrant" />
            </div>

            <div class="input-container">
                <i class="fa fa-gears icon"></i>
                <input class="input-field" type="text" placeholder="Profession" name="Profession" />
            </div>

            <div class="input-container">
                <i class="icon">#</i>
                <input class="input-field" type="text" placeholder="Téléphone" name="Téléphone" />
            </div>

            <div class="input-container">
                <i class="icon">@</i>
                <input class="input-field" type="email" placeholder="Email" name="Email" />
            </div>

            <button type="submit" class="btnModal">Register</button>
        </form>
    </div>
</div>