    <header>
        <h1>TODOLIST <img src="assets/images/logo/logo.png" alt="logo" class="logo"></h1>
        <nav>
            <ul>
                <li><a href="/tache.index">Accueil</a></li>
                <li><a href="/apropos">A propos</a></li>
                <li><a href="/logout" class="logout" onclick="return confirm('Voulez-vous vous déconnecter ?')">Déconnexion</a></li>
            </ul>
        </nav>
    </header>