<%-include("./composants/header") %>
    <section class="sectionTrou">
        <% const N = 250; const array = [{'t': 2},{'t': 59}, {'t': 6}, {'t': 249}, {'t': 199}, {'t': 13}]; %>
        <% for (let i = 1; i <= N; i++) { %>
            <% let isRed = false; %>
            <% array.forEach(element => { %>
                <% if (element.t === i) { %>
                    <% isRed = true; %>
                <% } %>
            <% }); %>

            <% if (isRed) { %>
                <div class="cartTrou" style="background-color: #ff0000;"><a href="#"><%= i %></a></div>
            <% } else { %>
                <div class="cartTrou"><a href="#"><%= i %></a></div>
            <% } %>
        <% } %>
    </section>       
<%-include("./composants/footer") %>