<%-include('./composants/headerInsConn') %>
    <form class="modal-content animate-modal" action="/login" method="post">
      <div class="image-container">
        <span onclick="document.getElementById('modal-login').style.display='none'" class="close-button"
          title="Close Modal">×</span>
        <img src="assets/images/user.png" alt="Avatar" class="avatar-image" />
      </div>

      <div class="form-container">
        <label for="userName"><b>Nom d'utilisateur</b></label>
        <input type="text" placeholder="Entrez le nom d'utilisateur" name="userName" required
          class="input-field-login" />

        <label for="passWord"><b>Mot de passe</b></label>
        <input type="password" placeholder="Entrez le mot de passe" name="passWord" required
          class="input-field-login" />

        <button type="submit" class="button">Se connecter</button>
      </div>
    </form>
<%-include('./composants/footerInsConn') %>