<%-include("./composants/header") %>

        <section class="cards-section">
            <div class="input-container">
                <i class="fa fa-search icon"></i>
                <input class="input-field" type="text" id="myInput" onkeyup="myFunction()" placeholder="Effectuez une recherche...">
            </div>
            <div class="card">
                <img src="assets/images/logo/logo.png" alt="Photo de profil" class="card-image">
                <h2 class="card-name">Jean</h2>
                <h3 class="card-surname">Dupont</h3>
                <div class="card-buttons">
                    <button class="btn btn-bleu"><i class="fa fa-eye fa-fw"></i></button>
                    <button class="btn btn-vert"><i class="fa fa-edit fa-fw"></i></button>
                    <button class="btn btn-rouge"><i class="far fa-trash-alt fa-fw"></i></button>
                </div>
            </div>
    
            <div class="card">
                <img src="assets/images/logo/logo.png" alt="Photo de profil" class="card-image">
                <h2 class="card-name">Jean</h2>
                <h3 class="card-surname">Dupont</h3>
                <div class="card-buttons">
                    <button class="btn btn-bleu"><i class="fa fa-eye fa-fw"></i></button>
                    <button class="btn btn-vert"><i class="fa fa-edit fa-fw"></i></button>
                    <button class="btn btn-rouge"><i class="far fa-trash-alt fa-fw"></i></button>
                </div>
            </div>
    
            <div class="card">
                <img src="assets/images/logo/logo.png" alt="Photo de profil" class="card-image">
                <h2 class="card-name">Jean</h2>
                <h3 class="card-surname">Dupont</h3>
                <div class="card-buttons">
                    <button class="btn btn-bleu"><i class="fa fa-eye fa-fw"></i></button>
                    <button class="btn btn-vert"><i class="fa fa-edit fa-fw"></i></button>
                    <button class="btn btn-rouge"><i class="far fa-trash-alt fa-fw"></i></button>
                </div>
            </div>
    
            <div class="card">
                <img src="assets/images/logo/logo.png" alt="Photo de profil" class="card-image">
                <h2 class="card-name">OKEMBA</h2>
                <h3 class="card-surname">Vea</h3>
                <div class="card-buttons">
                    <button class="btn btn-bleu"><i class="fa fa-eye fa-fw"></i></button>
                    <button class="btn btn-vert"><i class="fa fa-edit fa-fw"></i></button>
                    <button class="btn btn-rouge"><i class="far fa-trash-alt fa-fw"></i></button>
                </div>
            </div>
    
            <div class="card">
                <img src="assets/images/logo/logo.png" alt="Photo de profil" class="card-image">
                <h2 class="card-name">Jean</h2>
                <h3 class="card-surname">Dupont</h3>
                <div class="card-buttons">
                    <button class="btn btn-bleu"><i class="fa fa-eye fa-fw"></i></button>
                    <button class="btn btn-vert"><i class="fa fa-edit fa-fw"></i></button>
                    <button class="btn btn-rouge"><i class="far fa-trash-alt fa-fw"></i></button>
                </div>
            </div>
    
            <div class="card">
                <img src="assets/images/logo/logo.png" alt="Photo de profil" class="card-image">
                <h2 class="card-name">Marie</h2>
                <h3 class="card-surname">Curie</h3>
                <div class="card-buttons">
                    <button class="btn btn-bleu"><i class="fa fa-eye fa-fw"></i></button>
                    <button class="btn btn-vert"><i class="fa fa-edit fa-fw"></i></button>
                    <button class="btn btn-rouge"><i class="far fa-trash-alt fa-fw"></i></button>
                </div>
            </div>
    
            <div class="card">
                <img src="assets/images/logo/logo.png" alt="Photo de profil" class="card-image">
                <h2 class="card-name">Marie</h2>
                <h3 class="card-surname">Curie</h3>
                <div class="card-buttons">
                    <button class="btn btn-bleu"><i class="fa fa-eye fa-fw"></i></button>
                    <button class="btn btn-vert"><i class="fa fa-edit fa-fw"></i></button>
                    <button class="btn btn-rouge"><i class="far fa-trash-alt fa-fw"></i></button>
                </div>
            </div>
    
            <div class="card">
                <img src="assets/images/logo/logo.png" alt="Photo de profil" class="card-image">
                <h2 class="card-name">Marie</h2>
                <h3 class="card-surname">Curie</h3>
                <div class="card-buttons">
                    <button class="btn btn-bleu"><i class="fa fa-eye fa-fw"></i></button>
                    <button class="btn btn-vert"><i class="fa fa-edit fa-fw"></i></button>
                    <button class="btn btn-rouge"><i class="far fa-trash-alt fa-fw"></i></button>
                </div>
            </div>
        </section>
<%-include("./composants/footer") %>